.products
{
  background: #ffecec; 
  font-weight: 500; 
  border: 1px solid rgb(255 58 58 / 20%); 
  padding: 11px 26px; 
  font-size: 15.5px; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  color: #181c20; 
  border-bottom: none; 
  width: 137px; 
  height:46px; 
}

.button-price-selected {
  background: #fff;
  border: 1px solid #c8c7c7;
  width: 25%;
  padding: 13.5px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.button-price:active {
  background: #fff;
  border: 1px solid #c8c7c7;
  width: 25%;
  padding: 13.5px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.button-price {
  text-align: center;
  padding: 13.5px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: 0 0;
  outline: 0;
  width: 25%;
  font-size: 16px;
  cursor: pointer;
  font-weight: 300;
}

.button-price:hover {
  background: #fff;
  border: 1px solid #c8c7c7;
  width: 25%;
  padding: 13.5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}
.unlimited {
  font-weight: 500;
  background: #ffeada;
 
}

.buttons-bar
{
  background: #f5f4f4; width: 1140px; margin: 0 auto 100px; padding: 10px; display: flex; border-radius: 10px;
}

.buttons-bar-unlimited
{
  background: #f5f4f4; width: 1140px; margin: 0 auto 100px; padding: 10px; display: flex; justify-content:space-around; border-radius: 10px;

}

.button-price-selected {
  background: #fff;
  border: 1px solid #c8c7c7;
  width: 25%;
  padding: 13.5px 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.pricing-bar
{
  width: 1140px; padding: 0px 15px 0px 15px; margin: 0px auto; display: flex;
}

.pricing-bar-box
{
  width: 25%; border-right: 1px solid #eee;
}

.pricing-bar-box-eplus
{
  width: 25%;
}

.the-get-demo {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  background: #f9f9f9;
  border-radius: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .2s ease-in;
}
.when-clicked:hover .the-get-demo {
  background: #ff3a3a;
  color: #fff;
}

.design {
  width: 100%;
  text-align: left;
  padding-left: 0;
  font-size: 14px;
  color: #555550;
  margin-bottom: 15px;
  list-style: circle;
  margin-left: 8px;
}

.pricing-para{
  background: #f9f9f9;
}

.plan-title {
  color:#323643
}

.pricing-para-link {
  color:#323643;
  border-bottom: 0.5px dotted #323643;
}





.answer-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.answer-enter-active {
  max-height: 200px; 
  opacity: 1;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

.answer-exit {
  max-height: 200px; 
  opacity: 1;
  overflow: hidden;
}

.answer-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-in, opacity 300ms ease-in;
}


thead th {
  position: -webkit-sticky; 
  position: sticky;
  top: 61px; 
  background-color: white; 

}